# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore everything in data/
data/*

# Except this file
!data/SampleSubmission.csv

# Ignore everything in results/
results/*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store